html {

background: rgba(0,0,0,1);
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(21,115,143,1) 13%, rgba(131,197,219,1) 22%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 80%, rgba(131,197,219,1) 87%, rgba(21,115,143,1) 92%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(13%, rgba(21,115,143,1)), color-stop(22%, rgba(131,197,219,1)), color-stop(32%, rgba(255,255,255,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(80%, rgba(255,255,255,1)), color-stop(87%, rgba(131,197,219,1)), color-stop(92%, rgba(21,115,143,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(21,115,143,1) 13%, rgba(131,197,219,1) 22%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 80%, rgba(131,197,219,1) 87%, rgba(21,115,143,1) 92%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(21,115,143,1) 13%, rgba(131,197,219,1) 22%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 80%, rgba(131,197,219,1) 87%, rgba(21,115,143,1) 92%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(21,115,143,1) 13%, rgba(131,197,219,1) 22%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 80%, rgba(131,197,219,1) 87%, rgba(21,115,143,1) 92%, rgba(0,0,0,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(21,115,143,1) 13%, rgba(131,197,219,1) 22%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 80%, rgba(131,197,219,1) 87%, rgba(21,115,143,1) 92%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );

height:auto!important;
}

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
           src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?v=4.3.0");
           src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
                 url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
                 url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
                 url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
                 url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

header {
min-width:1100px;
padding:.4em 0;
}

header #header-bar #header-top-notice strong.notice-badge {
    background: #FFFFFF;
    padding: 4px 8px;
    color: #fff;
    font-weight: bold;
}

header #right-search-form>#right-search-btn {
color:#000000;
}

header #header-bar {
margin-top:1em;
margin-bottom:1em;
padding-right:30px;
padding-left:30px;
letter-spacing:-.05em!important;
line-height:normal;
}

body {
background:transparent;
letter-spacing:-.05em!important;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:14px;
line-height:0.98;
color:#333;
}

#main #main-menu {
padding:0;
}

#main #main-content>div.frame,#main .menu-wrapper {
border-right:0;
border-bottom:0;
background:0 0;
}

header #header-bar>.row {
padding-top:.3em;
padding-bottom:.3em;
border-top:0 solid #FFF;
background:#fff;
border-bottom:2px solid #ebeae8;
border-right:2px solid #ebeae8;
}

header .row>div:nth-child(1)>a {
display:block;
width:145px;
height:50px;
background:url() no-repeat;
background-size:auto 50px;
}

header .row>div:nth-child(1)>a>img {
display:block;
filter:grayscale(100%);
opacity:0;
}

#main .menu-wrapper>.header {
border-right:none;
border-bottom:none;
background:#FFF;
color: #000;
}

#main .menu-wrapper .spacer {
height:.01em;
}

#board-info {
display:flex;
border-right:0;
border-radius:25px;
background:#fff;
width:100%;
height:60px;
overflow:inherit;
line-height:1;
margin:0 0 1em;
padding:1em;
box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

h1,h2,h3,h4,h5,h6 {
margin:0;
padding:0;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
font-family:inherit;
font-weight:500;
line-height:1.1;
color:inherit;
}

#board-info h1 {
font-size:18px;
border-bottom:0;
}

#board-info h1>a {
text-decoration:none;
}

#board-info #board-info-bottom {
flex:auto;
text-align:right;
padding:0;
}

#board-info #board-info-bottom a {
flex:auto;
text-align:right;
padding:10px;
}

#board-info #board-info-profile-img {
border-radius:50%;
border:2px solid;
color:#010101;
float:left!important;
margin-right:8px;
margin-top:-20px;
height:64px;
width:64px;
}

#board-info #viewers-area {
font-size:14px;
font-weight:400;
vertical-align:middle;
line-height:18px;
display:inline-block;
padding:5px;
}

#board-info #viewers-area #viewers:before {
content:"공게더 ";
cursor:text;
color:#0B0B61;
}

#board-info #viewers-area #viewers:after {
content:"명 접속중";
cursor:text;
color:#0B0B61;
}

header #right-search-form>input[type='text'] {
border:2px solid;
border-radius:20px;
}

header #header-bar .fa {
color:#BDBDBD;
}

#article-list {
position:relative;
background:#FFF;
width:100%;
line-height:1;
margin-top:.5em;
border-bottom:1px solid #ebeae8;
border-right:0 solid #ebeae8;
padding:0;
}

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
width:120px!important;
}

#article-list #article-list-category {
border-top:1px solid #000;
margin-top:10px;
}

#article-list>.article-list-row {
border-right:none;
}

#article-list #article-list-menu {
box-sizing:border-box;
width:unset;
margin:20px;
}

#article-list #boardSearchForm {
padding-bottom:20px;
height:unset;
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
background-color:#08088A;
border-color:#08088A;
}

#article-content-wrapper>.header {
border-top:2px solid #08088A;
}

#article-info>h2 {
font-weight:700;
}

#article-info>h2>span.category {
color:#08088A!important;
}

#main .menu-wrapper>a {
padding:.5em 1.4em .5em .7em !important;
}

span.a-badge i.fa.fa-info-circle {
color:red;
}

#article-content-wrapper {
background-color:#FFF;
padding:0 1em 1em;
}

#article-reply-area>.header {
    padding: 1em 1.5em 0.7em;
    background: white;
}

#article-reply-area #reply-real-area,#article-reply-area #reply-best-area {
width:100%;
background-color:#FFF;
padding:0 1em;
}

#article-reply-area #reply-real-area .reply > .reply-header,#article-reply-area #reply-best-area .reply>.reply-header {
background:#f7f4ff;
border-bottom:1px solid #efefef;
padding:.4em .5em;
}

#article-info {
width:100%;
position:relative;
background:#fff;
margin-top:20px;
box-shadow:10px -10px 30px rgba(0,0,0,0)!important;
padding:13px 42px 5px 19px;
}

header #main .menu-wrapper,#main>div.frame,header #header-bar>.row>div.frame,#main .menu-wrapper {
border-right:none;
border-bottom:none;
}

.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover,.pagination>li>a,.pagination>li>span,#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged,#article-reply-area>.header h5 {
color:#08088A;
}


#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer-image, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer-image {
    display: none;
    width: 3.2em;
    height: 3.2em;
    margin-right: 0.44em;
    float: left;
    font-size: 20px;
}

/* 댓글 유동닉 만들기 */
#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged>img,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged>img,
#article-list>.article-list-row>.item>.list-title>.list-writer>span>img,
#article-info #article-info-writer>img{display:none;}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged>img[src="https://static-cdn.jtvnw.net/chat-badges/broadcaster.png"],
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged>img[src="https://static-cdn.jtvnw.net/chat-badges/broadcaster.png"],
#article-info #article-info-writer>img[src="https://static-cdn.jtvnw.net/chat-badges/broadcaster.png"],
#article-list>.article-list-row>.item>.list-title>.list-writer>span>img[src="https://static-cdn.jtvnw.net/chat-badges/broadcaster.png"]{display: unset !important;}
#article-list>.article-list-row>.item>.list-title>.list-writer>span>img[src="https://static-cdn.jtvnw.net/badges/v1/f2ffe673-bf93-49e1-aca2-a4293360ef44/1"],
#article-list>.article-list-row>.item>.list-title>.list-writer>span>img[src="https://static-cdn.jtvnw.net/badges/v1/ee70fe69-1bbf-4d54-8db1-49d467cc7ec5/1"]{display: unset !important;}


/* 닉네임색 */
#article-list>.article-list-row>.item>.list-title>.list-writer>span{color:#0B0B61;}

#article-reply-area>.header {
    background-color: white;
}

#article-reply-area {
    background: #fff;
}

#main .menu-wrapper>a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}


/* --------------------------------------------------------------------- */
header #header-bar #header-menu-right #userDropdown img.profile-img:before {
    content: " ";
}

#comment-write-form-area {
    padding: 0 1em;
    padding-bottom: 1px;
}

/*  하단 검색 돋보기 크기*/
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.fa {
    font-size: 14px;
}