.fr-popup .fr-emoticon {
    font-size: 30px;
    width: 30px;
}

.fr-popup .fr-emoticon img {
    height: 25px;  !important;
}

span[data-param1="JKanStyle"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanTrail.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="JKanStyle"],
#article-content-wrapper #article-content img[alt="JKanStyle"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanTrail.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1="OptimizePrime"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanSad.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="OptimizePrime"],
#article-content-wrapper #article-content img[alt="OptimizePrime"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanSad.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1="StoneLightning"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanLight.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="StoneLightning"],
#article-content-wrapper #article-content img[alt="StoneLightning"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanLight.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1="TheRinger"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanLevel.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="TheRinger"],
#article-content-wrapper #article-content img[alt="TheRinger"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanLevel.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1="RedCoat"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanSorry.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="RedCoat"],
#article-content-wrapper #article-content img[alt="RedCoat"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanSorry.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1="Kappa"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanPray.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="Kappa"],
#article-content-wrapper #article-content img[alt="Kappa"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanPray.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1="JonCarnage"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanPray2.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="JonCarnage"],
#article-content-wrapper #article-content img[alt="JonCarnage"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanPray2.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1="BCWarrior"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanWiki.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="BCWarrior"],
#article-content-wrapper #article-content img[alt="BCWarrior"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanWiki.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1="GingerPower"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanFact.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="GingerPower"],
#article-content-wrapper #article-content img[alt="GingerPower"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanFact.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1="DansGame"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanGgomul.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="DansGame"],
#article-content-wrapper #article-content img[alt="DansGame"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanGgomul.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1="SwiftRage"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanGood.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="SwiftRage"],
#article-content-wrapper #article-content img[alt="SwiftRage"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanGood.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}


span[data-param1="PJSalt"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanMaple.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="PJSalt"],
#article-content-wrapper #article-content img[alt="PJSalt"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanMaple.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1="KevinTurtle"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanDurotan.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="KevinTurtle"],
#article-content-wrapper #article-content img[alt="KevinTurtle"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanDurotan.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

/* GIF */
span[data-param1="HotPokket"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanDGC.gif);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="HotPokket"],
#article-content-wrapper #article-content img[alt="HotPokket"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanDGC.gif);
    width: 50px;
    height: 50px !important;
    padding-left: 50px;
    background-size: 50px 50px;
}

span[data-param1="FailFish"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanKKK.gif);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="FailFish"],
#article-content-wrapper #article-content img[alt="FailFish"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanKKK.gif);
    width: 50px;
    height: 50px !important;
    padding-left: 50px;
    background-size: 50px 50px;
}

span[data-param1="DAESuppy"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanSDSB.gif);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="DAESuppy"],
#article-content-wrapper #article-content img[alt="DAESuppy"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanSDSB.gif);
    width: 50px;
    height: 50px !important;
    padding-left: 50px;
    background-size: 50px 50px;
}

span[data-param1="WholeWheat"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanSquid.gif);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="WholeWheat"],
#article-content-wrapper #article-content img[alt="WholeWheat"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanSquid.gif);
    width: 50px;
    height: 50px !important;
    padding-left: 50px;
    background-size: 50px 50px;
}

span[data-param1="ThunBeast"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanOK.gif);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="ThunBeast"],
#article-content-wrapper #article-content img[alt="ThunBeast"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanOK.gif);
    width: 50px;
    height: 50px !important;
    padding-left: 50px;
    background-size: 50px 50px;
}

span[data-param1="TF2John"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanDance.gif);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="TF2John"],
#article-content-wrapper #article-content img[alt="TF2John"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanDance.gif);
    width: 50px;
    height: 50px !important;
    padding-left: 50px;
    background-size: 50px 50px;
}

span[data-param1="Keepo"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanMCena.gif);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="Keepo"],
#article-content-wrapper #article-content img[alt="Keepo"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanMCena.gif);
    width: 50px;
    height: 50px !important;
    padding-left: 50px;
    background-size: 50px 50px;
}

span[data-param1="BigBrother"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanY.gif);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="BigBrother"],
#article-content-wrapper #article-content img[alt="BigBrother"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanY.gif);
    width: 50px;
    height: 50px !important;
    padding-left: 50px;
    background-size: 50px 50px;
}

span[data-param1="SoBayed"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanNo.gif);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="SoBayed"],
#article-content-wrapper #article-content img[alt="SoBayed"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanNo.gif);
    width: 50px;
    height: 50px !important;
    padding-left: 50px;
    background-size: 50px 50px;
}

span[data-param1="PeoplesChamp"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanNo.gif);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="PeoplesChamp"],
#article-content-wrapper #article-content img[alt="PeoplesChamp"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanNo2.gif);
    width: 50px;
    height: 50px !important;
    padding-left: 50px;
    background-size: 50px 50px;
}

span[data-param1="GrammarKing"] img {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanNo.gif);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt="GrammarKing"],
#article-content-wrapper #article-content img[alt="GrammarKing"] {
    background: url(https://chogether.github.io/tgd/images/emotes/cocochanNo3.gif);
    width: 50px;
    height: 50px !important;
    padding-left: 50px;
    background-size: 50px 50px;
}